  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jason Blum">
    <title>Pythoneers.Club</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }

    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Pythoneers.Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to Pythoneers.Club!</h1>
        <p class="lead">Just cobbling this site together - will probably be something like a tag-cloud of resources, tutorials, etc.</p>
      </div>



      <div class="card">
        <div class="card-header">
          Links to get started...
        </div>
        <div class="card-body">
          <ul>
            <li>
              <a href="http://Pythoneers.Club/codeacademy">Pythoneers.Club/codeacademy</a> is (or was) giving away scholarships to students for three months access to their Pro account.  If you can't get one, <a href="https://www.codecademy.com/learn/learn-python">their free Python2 class</a> is plenty to get you going.
            </li>
            <li>Virtually everything any Python programmer needs to know is in this <a href="http://Pythoneers.Club/cheatsheet">Pythoneers.Club/cheatsheet</a> "cheatsheet".</li> 
            <li>Funny and really good short video tutorials on Python: <a href="http://Pythoneers.Club/socratica">Pythoneers.Club/socratica</a></li>
            <li>Club members support each other in our chat room on Discord.</li>
            <li>We <strong>strictly</strong> enforce the <a href="https://www.python.org/psf/conduct/">Python Code of Conduct</a>.
            <li>Please email <a href="mailto:Jason@Pythoneers.Club">Jason@Pythoneers.Club</a> for support.
            <li>We will post weekly challenges in "<a href="http://Pythoneers.Club/trinket">Trinkets</a>" like the one below:</li>
          </ul>
          <iframe src="https://trinket.io/embed/python3/f8a57a81e4?start=result" width="100%" height="500" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </div>
      </div>





    </main><!-- /.container -->



  </body>
</html>
